a {
    color: #ffffff;
    text-decoration: none;
}


.nav-item{
  background: rgb(255, 255, 255);
}

/* 
bottom navigation view */
.fixed-bottom {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.295);
  border-width: thin;
}

h1{
  text-align: center;
  font-weight: bold;
}


.text-center
{

  
}