a {
    color: #ffffff;
    text-decoration: none;
}


.nav-item{
  background: rgb(255, 255, 255);
}

/* 
bottom navigation view */
.fixed-bottom {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.295);
  border-width: thin;
}

h1{
  text-align: center;
  font-weight: bold;
}
/* 
content details for the body */
.content-card {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-top: 20px;
}

header{
  background-color: rgb(126, 238, 238);
}

.topnav-right {
  float: right;
}
/* form control */
input[type="text"],
input.form-control {
  background: transparent;
  border: none;
 
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}


input[type="text"]:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #000000;
}
