a {
    color: #ffffff;
    text-decoration: none;
}


.nav-item{
  background: rgb(255, 255, 255);
}

/* 
bottom navigation view */
.fixed-bottom {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.295);
  border-width: thin;
}

h1{
  text-align: center;
  font-weight: bold;
}
/* 
content details for the body */
.content-card {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-top: 20px;
}

header{
  background-color: rgb(126, 238, 238);
}


.topnav-right {
  float: right;
}